:root{
    --title: #776E65;
    --scoreBg: #BBADA0;
    --gameBg: #BBADA0;
    --newGameBtn: #8F7A66;
    --emptyBox: #EEE4DA59;

    --twoText: #776E65;
    --twoBg: #EEE4DA;
    --fourText: #776E65;
    --fourBg: #EEE1C9;

    --eightText: #F9F6F2;
    --eightBg: #F3B27A;
    --oneSixBg: #F69664;

    --threeTwoBg: #F77C5F;
    --sixFourBg: #F75E3B;

    --oneTwoEightBg: #EDD073;
    --TwoFiveSixBg: #EDCC62;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.contentBox{
    height: 100%;
    width: 33%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.info{
    width: 100%;
    height: 33%;
    display: flex;
    flex-direction: column;
    gap: 1rem;    
}

.title{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: var(--title);
}

.message{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.scoreCard{
    height: 70%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--scoreBg);
    color: white;
    border-radius: 15px;
    border: none;
    .scoreText{
        font-size: 1.2rem;
        font-weight: 300;
    }
}
/* 
.startBtn{
    height: 4rem;
    width: 20rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    background-color: var(--newGameBtn);
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.startBtn:hover{
    background-color: #6d5d4f;
} */

.newGame-btn{
    height: 70%;
    width: 40%;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: var(--newGameBtn);
    color: white;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.newGame-btn:hover{
    background-color: #6d5d4f;
}

.game{
    padding: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    height: 63%;

    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);

    border-radius: 15px;
    background-color: var(--gameBg);

    font-weight: 600;
}

.tiles{
    color: white;
    border-radius: 5px;
    background-color: #EEE4DA59;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
}

.hide{
    display: none;
}

.box2{
    color: var(--twoText);
    background-color: var(--twoBg);
}

.box4{
    color: var(--fourText);
    background-color: var(--fourBg);
}

.box8{
    color: var(--eightText);
    background-color: var(--eightBg);
}

.box16{
    color: var(--eightText);
    background-color: var(--oneSixBg);
}

.box32{
    color: var(--eightText);
    background-color: var(--threeTwoBg);
}

.box64{
    color: var(--eightText);
    background-color: var(--sixFourBg);
}

.box128{
    color: var(--eightText);
    background-color: var(--oneTwoEightBg);
}

.box256{
    color: var(--eightText);
    background-color: var(--TwoFiveSixBg);
}

/* Animation for new tiles */
@keyframes appear {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.appear {
    animation: appear 0.2s ease-in-out;
}

/*Animations for merge*/
@keyframes merge {
    0% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.merge{
    animation: merge 0.2s ease-in-out;
}